body {
  padding: 60 0 0 0;
  margin: 60 0 0 0;
  text-align: center;
  background-color: black;
}

h1 {
  text-align: center;
  color: #f1f1f1;
  font-family: 'Press Start 2P', cursive;
}

canvas {
  border:1px solid #d3d3d3;
  /* background-color: #f1f1f1; */
  background-image: url("floortile.png");
}
p {
  color: white;
  font-family: 'Press Start 2P', cursive;
}
